.conteudo-escondido {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 375px;
    height: 667px;
    z-index: 1;
    display: flex;
    justify-content: right;
}
.conteudo-escondido > div {
    width: 259px;
    height: 667px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.conteudo-escondido > div > p {
    margin: 0 auto;
    width: 170px;
    height: 84px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
}
.perfis, .publico, .reservado{
    margin: 16px;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}
.perfis > ion-icon, .publico > ion-icon, .reservado > ion-icon {
    font-size: 23px;
    margin-right: 6px;
}


.bloqueado {
    display: none;
}


.conteudo {
    position: relative;
    width: 375px;
    height: 667px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.topo {
    position: absolute;
    width: 375px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topo > img {
    object-fit: cover;
    width: 75px;
    height: 53px;
    margin-left: 22px;
}
.topo > ion-icon {
    font-size: 40px;
    margin-right: 22px;
}

.mensagens {
    width: 375px;
    height: 587px;
    margin-top: 106px;
    margin-bottom: 80px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #E5E5E5;

    display: block;
    
}
.mensagem-publica {
    background-color: #FFFFFF;
    
}
.mensagem-privada {
    background: red;
    border-radius: 2px;
}
.mensagem-status {
    background: #dcdcdc;
    border-radius: 2px;
}
.mensagem-privada, .mensagem-publica, .mensagem-status {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #AAAAAA;
    padding: 20px 0px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.enviar {
    position: absolute;
    width: 375px;
    height: 80px;
    left: 0px;
    bottom: 0px;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.enviar > ion-icon {
    font-size: 28px;
    margin-right: 22px;
}
.barra-envio {
    width: 145px;
    height: 30px;
    border: none;
    margin-left: 22px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}